/* Webfonts */
@import '_fonts.scss';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.scss';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Simple defaults */
body {
  @apply font-maison font-normal antialiased text-black text-body bg-white;
  line-height: normal;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

main {
  transition: all 0.5s ease;
}

#progress {
  transition: all 0.5s ease;
}

.hover-white {
  &:hover {
	color: #E46B37 !important;
    & * {
      color: white !important;
    }
    & svg * {
      fill: white !important;
    }
  }
}

.hover-orange {
  &:hover {
	color: #E46B37 !important;
    & * {
      color: #E46B37 !important;
    }
    & svg * {
      fill: #E46B37 !important;
    }
  }
}

.dropdown {
  @apply relative w-[17px] h-[17px] md:w-[22px] md:h-[22px] cursor-pointer;

  &.dropdown-active {
    &:before {
      transform: translatey(-50%) rotate(-90deg);
      opacity: 0;
    }
    &:after {
      transform: translatey(-50%) rotate(0);
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    background-color: #e46b37;
    position: absolute;
    top: 50%;
    left: 0;
    transition: 0.35s;
    width: 100%;
    @apply h-[3px] md:h-[4px];
  }

  &:before {
    transform: translatey(-50%);
  }

  &:after {
    transform: translatey(-50%) rotate(90deg);
  }
}

.pickupActive {
  @apply bg-orange text-white border-orange;

  .imgContainer {
    & > img:first-child {
      @apply opacity-0;
    }

    & > img:last-child {
      @apply opacity-100;
    }
  }
}